---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: beacon-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: beacon-api
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
  template:
    metadata:
      annotations:
        prometheus.io/scrape: 'true'
      labels:
        app: beacon-api
        team: beacon
    spec:
      terminationGracePeriodSeconds: 30
      containers:
        - image: insightio/beacon-api
          imagePullPolicy: Always
          name: beacon-api
          env:
            - name: JAEGER_AGENT_HOST
              value: jaeger-agent.tracing:6831
            - name: LOG_JSON
              value: 'true'
            - name: KAFKA_BOOTSTRAP_SERVERS
              value: PLAINTEXT://kafka:9092
            - name: SESSION_SERVICE_BASE_URL
              value: http://session-api
          ports:
            - containerPort: 80
              name: http
              protocol: TCP
          resources:
            requests:
              cpu: 100m
              memory: 400Mi
          livenessProbe:
            httpGet:
              path: /q/health/live
              port: 80
            initialDelaySeconds: 60
            periodSeconds: 5
          readinessProbe:
            httpGet:
              path: /q/health/ready
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 5
            timeoutSeconds: 1
            successThreshold: 1
            failureThreshold: 10
      tolerations:
        - key: 'arm'
          operator: 'Equal'
          value: 'true'
          effect: 'NoExecute'
