---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

commonLabels:
  team: frontend

namespace: recording

resources:
  - service.yaml
  - deployment.yaml
  - hpa.yaml
  - ingress.yaml
