# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
**/.idea/**
!backend/.idea/checkstyle-idea.xml
!backend/.idea/google-java-format.xml
!backend/.idea/saveactions_settings.xml

*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Gradle
.gradle/
build/

## Ignore Gradle GUI config
gradle-app.setting

## Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# npm
node_modules
coverage
dist
yarn-error.log

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Next.js
.next
out

# Environment files
.env

# Artifacts
artifacts

# Storybook
storybook-static

# cli
cli
