---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: auth-api
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
  template:
    metadata:
      annotations:
        prometheus.io/scrape: 'true'
      labels:
        app: auth-api
        team: auth
    spec:
      terminationGracePeriodSeconds: 30
      containers:
        - image: insightio/auth-api
          imagePullPolicy: Always
          name: auth-api
          env:
            - name: MAILER_MOCK
              valueFrom:
                secretKeyRef:
                  name: mailer-configuration
                  key: mock
            - name: MAILER_USERNAME
              valueFrom:
                secretKeyRef:
                  name: mailer-configuration
                  key: username
            - name: MAILER_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mailer-configuration
                  key: password
            - name: SMS_CLIENT_MOCK
              valueFrom:
                secretKeyRef:
                  name: sms-client-configuration
                  key: mock
            - name: SMS_CLIENT_USERNAME
              valueFrom:
                secretKeyRef:
                  name: sms-client-configuration
                  key: username
            - name: SMS_CLIENT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: sms-client-configuration
                  key: password
            - name: JAEGER_AGENT_HOST
              value: jaeger-agent.tracing:6831
            - name: GOOGLE_OAUTH_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: google-oauth
                  key: client_id
            - name: GOOGLE_OAUTH_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: google-oauth
                  key: client_secret
            - name: GITHUB_OAUTH_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: github-oauth
                  key: client_id
            - name: GITHUB_OAUTH_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: github-oauth
                  key: client_secret
            - name: MICROSOFT_OAUTH_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: microsoft-oauth
                  key: client_id
            - name: MICROSOFT_OAUTH_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: microsoft-oauth
                  key: client_secret
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: postgres-credentials
                  key: username
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-credentials
                  key: password
            - name: POSTGRES_HOST
              value: postgres-postgresql
            - name: BCRYPT_LOG_ROUNDS
              value: '13'
          ports:
            - containerPort: 80
              name: http
              protocol: TCP
          resources:
            requests:
              cpu: 200m
              memory: 400Mi
          livenessProbe:
            httpGet:
              path: /q/health/live
              port: 80
            initialDelaySeconds: 60
            periodSeconds: 5
          readinessProbe:
            httpGet:
              path: /q/health/ready
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 5
            timeoutSeconds: 1
            successThreshold: 1
            failureThreshold: 10
      tolerations:
        - key: 'arm'
          operator: 'Equal'
          value: 'true'
          effect: 'NoExecute'
