<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Forgot your password?</title>
  </head>
  <body>
    <h1>Hello! Forgot your password?</h1>
    <p>If you did not request a password reset, please ignore this message.</p>
    <a
      style="
        border-radius: 3px;
        font-size: 18px;
        color: white;
        text-decoration: none;
        padding: 28px 0px 28px 0px;
        width: 252px;
        max-width: 252px;
        font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial,
          sans-serif;
        display: block;
        background-color: #f65c8c;
        text-align: center;
      "
      href="{passwordResetURL}?token={token}"
      >Reset it here</a
    >
  </body>
</html>
