<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to {name}</title>
  </head>
  <body>
    <h1>Welcome to {name}!</h1>
    <p>
      You’re almost there. Please verify your email to activate your account.
    </p>
    <a
      style="
        border-radius: 3px;
        font-size: 18px;
        color: white;
        text-decoration: none;
        padding: 28px 0px 28px 0px;
        width: 252px;
        max-width: 252px;
        font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial,
          sans-serif;
        display: block;
        background-color: #f65c8c;
        text-align: center;
      "
      href="{completeSignUpURL}"
      >Activate your account</a
    >
  </body>
</html>
