<html>
  <body>
    <h1>Welcome!</h1>
    <p>{creator} has invited you to Insight. Get started bellow.</p>
    <a
      style="
        border-radius: 3px;
        font-size: 18px;
        color: white;
        text-decoration: none;
        padding: 28px 0px 28px 0px;
        width: 252px;
        max-width: 252px;
        font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial,
          sans-serif;
        display: block;
        background-color: #f65c8c;
        text-align: center;
      "
      href="http://localhost:3000/accept-invite?email={email}&orgId={orgId}&token={token}"
      >Get Started</a
    >
  </body>
</html>
