---
on: [push]

env:
  REGISTRY: registry.hub.docker.com
  REPOSITORY: insightio
  GITOPS_REPOSITORY: insights-io/ops

jobs:
  build:
    name: Docker build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Reclaim Disk Space
        run: scripts/ci/ci-prerequisites.sh
      - uses: imranismail/setup-kustomize@v1
        with:
          kustomize-version: '3.10.0'
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: setup builder
        run: |
          docker buildx create --use --name=qemu --buildkitd-flags '--allow-insecure-entitlement network.host'
          docker buildx inspect --bootstrap
      - name: Available platforms
        run: echo ${{ steps.buildx.outputs.platforms }}
      - name: Install skaffold
        run: curl -Lo skaffold https://storage.googleapis.com/skaffold/releases/latest/skaffold-linux-amd64 && sudo install skaffold /usr/local/bin/
      - name: Configure frontend environment
        run: |
          sed -i 's,http://localhost:8080,https://api.rebrowse.dev,g' frontend/app/.env.production
          sed -i 's,http://localhost:8082,https://api.rebrowse.dev,g' frontend/app/.env.production
          sed -i 's,http://localhost:8083,https://api.rebrowse.dev,g' frontend/app/.env.production
          sed -i 's,http://localhost:3002,https://accounts.rebrowse.dev,g' frontend/app/.env.production
          sed -i 's,http://localhost:3000,https://app.rebrowse.dev,g' frontend/accounts/.env.production
          sed -i 's,http://localhost:8080,https://api.rebrowse.dev,g' frontend/accounts/.env.production
          sed -i 's,http://localhost:3002,https://accounts.rebrowse.dev,g' frontend/homepage/.env.production
          sed -i 's,http://localhost:3000,https://app.rebrowse.dev,g' frontend/homepage/.env.production
          sed -i 's,http://localhost:8080,https://api.rebrowse.dev,g' frontend/homepage/.env.production
      - name: Build
        run: |
          mkdir -p out
          skaffold render --add-skaffold-labels=false --loud -p push --output out/manifest.yaml
          sed 's/\(image:.*\)@.*$/\1/g' -i out/manifest.yaml
      - uses: actions/upload-artifact@v2
        with:
          name: manifests
          path: out

  sync:
    name: Gitops sync
    runs-on: ubuntu-latest
    needs: [build]
    if: github.ref == 'refs/heads/master'

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          repository: ${{ env.GITOPS_REPOSITORY }}
          token: ${{ secrets.OPS_SYNC_TOKEN }}
      - uses: rlespinasse/github-slug-action@v2.x
      - uses: actions/download-artifact@v2
        with:
          name: manifests
      - uses: crazy-max/ghaction-import-gpg@v3
        id: import_gpg
        with:
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
          git-user-signingkey: true
          git-commit-gpgsign: true
      - run: |
          git add .
          git commit -m 'Release ${{ env.GITHUB_SHA_SHORT }}' || echo "Everything is up to date"
      - uses: ad-m/github-push-action@master
        with:
          branch: master
          repository: ${{ env.GITOPS_REPOSITORY }}
          github_token: ${{ secrets.OPS_SYNC_TOKEN }}
      - uses: rtCamp/action-slack-notify@master
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_FIREHOSE_WEBHOOK }}
          SLACK_USERNAME: botsights
          SLACK_CHANNEL: github-firehose
          SLACK_TITLE: Syncing
          SLACK_MESSAGE: 'Git commit ${{ env.GITHUB_SHA_SHORT }} pushed to ${{ env.GITOPS_REPOSITORY }} :rocket:'
          SLACK_ICON: https://avatars0.githubusercontent.com/u/66676697?s=96&v=4
