---
name: reviewdog
on:
  pull_request:
    paths:
      - '**/Dockerfile*'
      - '.github/workflows/hadolint.yml'

jobs:
  hadolint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: reviewdog/action-hadolint@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
