name: misspell
on:
  - pull_request

jobs:
  misspell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: reviewdog/action-misspell@v1
        with:
          locale: 'US'
          token: ${{ secrets.GITHUB_TOKEN }}
