---
name: reviewdog
on:
  pull_request:
    paths:
      - '**/*.yml'
      - '**/*.yaml'
      - '.github/workflows/yamllint.yml'

jobs:
  yamllint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: reviewdog/action-yamllint@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
